@font-face {
    font-family: "Nixmat"; 
    src: url("../fonts/FontsFree-Net-Nixmat.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

  @font-face {
    font-family: "Muller-Trial"; 
    src: url("../fonts/Muller-Trial-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600; 
  } 
  @font-face {
    font-family: "Muller-Trial"; 
    src: url("../fonts/Muller-Trial-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
  } 
  @font-face {
    font-family: "Mulish"; 
    src: url("../fonts/Mulish-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
  }
  @font-face {
    font-family: "Mulish_B"; 
    src: url("../fonts/Mulish-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
  }

html{
    box-sizing: border-box;
    background-color: #EBECF6;
}
body{
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}
@media (max-width: 1900px) {
    .oborud{
        display: block;
        margin-top: 3vw;
        max-width: 1440px;
        padding: 0 10px;
        margin: 0 auto;
    }

    .about{
        display: block;
        margin-top: 3vw;
        max-width: 1440px;
        padding: 0 10px;
        margin: 0 auto;
    }

    .service{
        margin-top: 3vw;
            display: block;
            margin-top: 3vw;
            max-width: 1440px;
            padding: 0 10px;
            margin: 0 auto;
      }

      p{
        font-size: 24px;
      }
      li{
        font-size: 24px;
      }

}

@media screen and (min-width: 1023px) and (max-width: 1366px){
    .container{
        width: 1023px;
    }
    .container_start{
        width: 1023px;
    }
    /* .start_inner{

        background-image: url("../images/general_1024.svg");
    } */
    }


*{
    box-sizing: inherit;
}

    .container,
    .container_start{
        max-width: 1440px;
        padding: 0 10px;
        margin: 0 auto;
        background-color: white;
    }
    .header_inner{
        display: flex;
        justify-content: space-between;
        }
    .header_title{
            font-family: "Nixmat";
            font-size: 32px;
            color: black;
            line-height: 2.9;
    }

    .start_inner{
        overflow: hidden;
        justify-content: center;
    }
    
    
    .about{
        display: block;
        margin-top: 3vw;
        max-width: 1440px;
    }
    .container_about{
        display: block;
        margin-top: 3vw;
        max-width: 1440px;;
    }
    .about_title,
    .service_title{
        margin-left: 1.2vw;
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 64px;
        color: black;
        line-height: 2.9;
    }
    .about_text{
        margin-left: 1.2vw;
        font-family: "Mulish";
        font-weight: 400;
        padding-right: 15vw;
        font-size: 20px;
        color: black;
        line-height: 2;
    }
    .about_slider{
        overflow: hidden;
        justify-content: center;
    }
    .swiper-wrapper{
        display: flex;
        animation: scroll 30s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }
      .swiper-slide img {
        margin-right: 10%;
        margin-top: 5vw;
      }
        
      @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-50%);
        }
      }
    
    
      .service{
        margin-top: 3vw;
            display: block;
            margin-top: 3vw;
            max-width: 1440px;
      }
     .service_textbox{
        margin-top: -2vw;
      }
      .service_text{
        margin-left: 1.2vw;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 20px;
        color: black;
        line-height: 1.2;
        max-width: 85%;
      }
      .service_text li{
        list-style:disc;
        line-height:2;
    }
      .service_human{
        background-image: url("../images/slider3.svg");
        max-width: 1400px;
        max-height: 600px;
        color: white;
        justify-content: center;
        margin-left: 1.2vw;
        margin-top: 10vw;
      }
    .service_human h2{
        margin-top: 4vw;
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 90px;
        -webkit-text-stroke: 7px #393E84;
        line-height: 2;
        text-align: center;
    }
    .service_human_content li{
        margin-top: 2vw;
        margin-left: 1.2vw;
        max-width: 70%;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 24px;
        color: black;
        line-height: 1.5;
        list-style-type: disc;
    
    }
    .plus h2{
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 56px;
        margin-top: 10vw;
        max-width: 1400px;
        max-height: 600px;
        color: black;
        text-align: center;
    }
    .plus img{
        margin-top: 5vw;
        max-width: 1300px;
    }
    .trening_slider{
        overflow: hidden;
        justify-content: center;
    }
    .trening h2{
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 56px;
        margin-top: 10vw;
        max-height: 600px;
        color: black;
        text-align: center;
    }
    .trening h3{
        margin-top: 3.5vw;
        margin-left: 1.2vw;
        font-family: "Muller-Trial";
        font-weight: 400;
        font-size: 35px;
        color: #393E84;
        line-height: 1.5;
        text-align: center;
    }
    .trening p{
        margin-top: 2vw;
        margin-left: 1.2vw;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 24px;
        color: black;
        line-height: 1.5;
        text-align: center;
    }
    .trening ol{
        column-count: 3;
        list-style-type: disc;
        margin-top: 3vw;
        margin-left: 10vw;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 5px;
        color: black;
        line-height: 2;
        align-items: center;
    }
    .trening li {
        margin-top: 3vw;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 20px;
    }
    
    .service_it{
        background-image: url("../images/slider4.svg");
        max-width: 1400px;
        max-height: 600px;
        color: white;
        justify-content: center;
        margin-left: 1.2vw;
        margin-top: 10vw;
      }
      .service_it h2{
        margin-top: 4vw;
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 90px;
        -webkit-text-stroke: 7px #393E84;
        line-height: 2;
        margin-left: 16vw;
      }
    .service_it_content  h3{
            margin-top: 4vw;
            margin-left: 1.2vw;
            font-family: "Muller-Trial";
            font-weight: 400;
            font-size: 30px;
            color: #393E84;
            line-height: 1.5;
    }
    
    .service_it_content  h4{
        margin-top: 4vw;
        margin-left: 1.2vw;
        font-family: "Muller-Trial";
        font-weight: 400;
        font-size: 30px;
        color: black;
        line-height: 1.5;
    }
    
    .service_it_content p{
        margin-top: 2vw;
        margin-left: 1.2vw;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 24px;
        color: black;
        line-height:2;
        max-width: 85%;
    }
    .it_plus img{
        max-width: 1300px;
        margin-top: 5vw;
    }
    .it_service{
        margin-top: 2vw;
        margin-left: 1.2vw;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 24px;
        color: black;
        line-height: 1.5;
        max-width: 85%;
        list-style: square;
    }
    
    .service_business{
        background-image: url("../images/slider6.svg");
        max-width: 1400px;
        max-height: 600px;
        color: white;
        justify-content: center;
        margin-left: 1.2vw;
        margin-top: 10vw;
    }
    .service_business h2{
        margin-top: 4vw;
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 90px;
        -webkit-text-stroke: 7px #393E84;
        line-height:1.2;
        margin-left: 20vw;
    }
    .business_plus h3{
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 56px;
        margin-top: 5vw;
        max-height: 600px;
        color: black;
        
    }
    .business_plus h4{
        margin-top: 2vw;
        font-family: "Muller-Trial";
        font-weight: 400;
        font-size: 35px;
        color: #393E84;
        line-height: 1.5;
    }
    .business_plus img{
        max-width: 1440px;
        margin-top: 5vw;
        justify-content: center ;

    }


    
    .oborud_title{
        background-image: url("../images/slider7.svg");
        max-width: 1400px;
        max-height: 600px;
        color: white;
        justify-content: center;
        margin-left: 1.2vw;
        margin-top: 10vw;
        text-align: center;
    }
    .oborud_title{
        margin-top: 5vw;
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 90px;
        -webkit-text-stroke: 7px #393E84;
        line-height:1.2;
        margin-left: 1.2vw;
        margin-top: 10vw;
    }
    .oborud_content p{
        margin-top: 4vw;
        margin-left: 1.2vw;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 24px;
        color: black;
        line-height: 2;
        max-width: 90%;
    }
    .oborud_content h4{
        margin-top: 2vw;
        margin-left: 1.2vw;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 30px;
        color: #393E84;
        line-height: 1.5;
        max-width: 90%;
    }
    
    .container_footer{
        padding: 0 10px;
        margin: 100px 0 auto;
        background-color: rgb(0, 0, 0);
    }
    .footer_title{
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 36px;
        color: #8588B6;
        line-height: 2.9;
        margin-left: 1.2vw;
        column-count: 2;
    }
    .footer_inner p{
        font-family: "Mulish";
        font-weight: 400;
        font-size: 24px;
        color: white;
        line-height: 1.5;
        margin-top: 1.1vw;
        margin-left: 1.2vw;
    }
    .foter_logo{
        display: flex;
        justify-content: space-between;
        margin-top: 4vw;
        margin-left: 35vw;
    }
    .footer_title_name{
        font-family: "Nixmat";
        font-size: 32px;
        color: gray;
        line-height: 2.9;
    }
    .zayavka{
        font-family: "Muller-Trial";
        font-weight: 600;
        font-size: 36px;
        color: white;
        line-height: 2.9;
        margin-left: 1.2vw;
        margin-top: 2vw;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .name{
        margin-left: 1.2vw;
        width: 400px; 
        height: 60px; 
        background:#8588B6;
        position: relative;
        border-radius: 10px;
    }
    .phone{
        margin-left: 1.2vw;
        margin-top: 1vw;
        width: 300px; 
        height: 60px; 
        background: #8588B6;
        position: relative;
        border-radius: 10px;
    }
    ::placeholder{
        font-family: "Mulish";
        font-weight: 400;
        font-size: 20px;
        color: white;
        line-height: 1.5;
    }
    input{
        font-family: "Mulish";
        font-weight: 400;
        font-size: 20px;
        color: white;
        line-height: 1.5;
    }
    button{
        width: 120px; 
        height: 40px; 
        position: relative;
        border-radius: 10px;
        margin-left: 1vw;
        margin-top: 1.2vw;
    }

   


