@font-face {
    font-family: "Nixmat"; 
    src: url("../fonts/FontsFree-Net-Nixmat.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

  @font-face {
    font-family: "Muller-Trial"; 
    src: url("../fonts/Muller-Trial-Bold.ttf") format("truetype"); 
    font-style: bold; 
    font-weight: 600; 
  } 
  @font-face {
    font-family: "Muller-Trial"; 
    src: url("../fonts/Muller-Trial-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
  } 
  @font-face {
    font-family: "Mulish"; 
    src: url("../fonts/Mulish-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
  }
  @font-face {
    font-family: "Mulish_B"; 
    src: url("../fonts/Mulish-Bold.ttf") format("truetype"); 
    font-style: bold; 
    font-weight: 700; 
  }

html{
    box-sizing: border-box;
    background-color: #EBECF6;
}
body{
    min-width: 1170px;
}


*{
    box-sizing: inherit;
}
div{
    vertical-align: baseline;
}
a {
    outline: none !important;
}


.content{
    padding: 109px 109px;
    width: 970px !important;
}

 .header{
        overflow: hidden;
        padding: 30px 0;
        background-color: white;
    }

.row{
        display: flex;
        margin-left: 15px;
        margin-right: -15px;
        height: inherit;
    }
    
.h-left{
        display: flex;
    }

.col-xs-6 {
        /* float: left; */
        width: 50%;
        position:relative;
        padding-left: 109px;
        padding-right: 15px
    }

.h-logo {
        float: left;
        padding-top: 13px;
    }
.h-logo img {
        border: none;
    }
.h-siteslogan {
        display: inline-block;
        overflow: hidden;
        padding: 30px 7px 20px;
        color: black;
        font-size: 32px;
        line-height: 1.6em;
        line-height: 140%;
        font-family: "Nixmat";
        font-weight: normal;
    }

.col-xs-3 {
        width: 25%;
        position: relative;
        padding-left: 15px;
        padding-right: 109px;
    }

.h-right{
        text-align: right;
    }
    
.btn-red {
        color: #fff;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #393E84;
        padding: 17px 20px;
        width: 225px;
        height: 90px;
    }
.btn-red:hover,
.btn-red:focus {
        opacity: 0.7;
        filter: alpha(opacity=70);
        color: #fff;
        text-decoration: none;
}

.btn{
        border-radius: 15px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-family: "Mulish";
        font-weight: 400;
        font-size: 1.07692em;
        line-height: 100%;
        padding: 20px 10px;
        line-height: 3em;
        text-align: center;
        outline: none;
    }

.btn {
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
      }

.main-slider-wrapper {
        padding: 45px 0;
        background: #f0f0f0;
        margin-top: -2px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.slider,
.oborud{
    overflow: hidden;
    display: flex;
}
.swiper-wrapper{
    display: flex;
    animation: scroll 15s linear infinite;
    width: calc(250px * 14);
}
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .about{
    max-width: 1222px;
    padding: 120px 0;
  }
  .row_about,
  .row_service,
  .row_oborud{
    margin-left: 15px;
    margin-right: -15px;
    height: inherit;
  }
  .about_title,
  .about_content,
  .about_list,
  .service_title,
  .accordion,
  .oborud_title,
  .oborud_content{
    max-width: 1222px;
    width: 100%;
    position:relative;
    padding-left: 109px;
    padding-right: 15px;
  }

.about_title h1,
.service_title h1,
.oborud_title h1{
    font-family:"Muller-Trial" ;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
}
.about_content p{
    font-family:"Mulish" ;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    
}
.content_bold{
    font-family:"Mulish_B" ;
    font-weight: 700;
    line-height: 100%;
    font-size: 20px;
}
.about_list{
    margin-top: 40px;
}
.about_list li{
    font-family:"Mulish" ;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    color: #393E84;
}

.service{
    max-width: 1222px;
}

.accordion{
    padding-top: 40px ;
}
.accordion_title{
    line-height: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    font-family: "Muller-Trial";
    color: white;
    font-weight: 600;
    padding: 30px 20px;
    cursor: pointer;
    border-radius: 35px;
}
.accordion_title.active span{
    transform: rotate(45deg);
}
.accordion_title span{
    display: inline-flex;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    transform: rotate(0);
    transition: transform 0.5s ease-out;
}
.accordion_title span::before{
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.accordion_title span::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.accordion_content{
    padding: 10px 50px;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out 0.5s, visibility 0.1s ease-out 0.5s;
}
.accordion_content h4{
    margin-top: 30px;
    font-size: 36px;
    font-family: "Muller-Trial";
    font-weight: 400;
    color: #393E84;
    line-height: 1.3;
}
.accordion_content li{
    margin-top: 15px;
    font-size: 20px;
    font-family: "Mulish";
    font-weight: 400;
    color: black;
    line-height: 1.5;
    list-style-type: disc;
}
.accordion_content.active{
    opacity: 1;
    visibility: visible;
    padding: 20px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.1s ease-out, visibility 0.1s ease-out;
}
.accordion_content img{
    max-width: 1222px;
    margin-top: 20px;
}
.accordion_content p{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: "Mulish";
    font-weight: 600;
    color: #393E84;
    line-height: 2;
}

.oborud_title{
    margin-top: 60px;
}
.oborud_content p{
    margin-top: 50px;
    font-size: 20px;
    font-family: "Mulish";
    font-weight: 400;
    color: black;
    line-height: 2;
}
.oborud_content img{
    margin-top: 30px;
}

.footer {
    padding: 0 10px;
    margin: 100px 0 auto;
    border-top: 3px solid #393E84;
}
.f-contacs h3 {
    float: left;
    margin: 28px 0;
    width: 50%;
    margin-top: 30px;
    font-size: 36px;
    font-family: "Muller-Trial";
    font-weight: 600;
    color: black;
    line-height: 1.3;
}
.f-contacs h4{
    margin: 28px 0;
    width: 50%;
    margin-top: 30px;
    font-size: 36px;
    font-family: "Mulish";
    font-weight: 400;
    color: #393E84;
    line-height: 1.3;
    text-align: center;
}